<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/globals.css">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
</head>
<body>
  <%- include('../components/Header/header.ejs') %>

  <span><%= description %></span>

  <%- include('../components/Footer/footer.ejs') %>
</body>
</html>